@import "../../styles/vars";

.profile {
  display: flex;
  justify-content: center;
}

.profile__photoWrapper {
  width: 200px;
}

.profile__photo {
  width: 100%;
  border-radius: 200px;
}

.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
}

.profile__name {
  font-family: $accentFont;
  font-size: 54px;
}

.profile__title {
  margin-top: 10px;
  font-size: 25px;
}

.profile__buttonWrapper {
  margin-top: 60px;
}

.profile__button {
  padding: 18px 30px;
  font-family: $accentFont;
  border-radius: 25px;
  background-color: $textColor;
  color: $bgColor;

  &:hover {
    background-color: $accentColor;
    transition: background-color 0.2s ease-in-out;
  }
}

@media screen and (max-width: $tablet) {
  .profile__info {
    margin-left: 30px;
  }

  .profile__name {
    font-family: "Gogh";
    font-size: 45px;
  }

  .profile__title {
    font-size: 20px;
  }
}

@media screen and (max-width: $mobile) {
  .profile {
    flex-direction: column;
    align-items: center;
  }

  .profile__info {
    align-items: center;
    text-align: center;
    margin: 0;
  }
}
