@import "../../styles/vars";

.portfolio__item {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  margin-top: 70px;
  border-radius: 200px;
}

.portfolio__photos {
  display: flex;
  justify-content: center;
  gap: 35px;
  align-items: flex-end;
  padding-top: 4em;
  min-height: 320px;
  // background-color: #b3b3b3;
}

.portfolio__photos_blue {
  background-color: #6982995F;
}

.portfolio__photos_green {
  background-color: #95b1ae5F;
}

.portfolio__photos_purple {
  background-color: #b1a1b45F;
}

.portfolio__photos_orange {
  background-color:#d6aa805F;
}

// #E88A01
.portfolio__desktopWrapper {
  vertical-align: top;
  width: 68%;
}

.portfolio__phoneWrapper {
  width: 17%;
}

.portfolio__desktop {
  width: 100%;
  vertical-align: top;
}

.portfolio__phone {
  vertical-align: top;
  width: 100%;
}

.portfolio__infoWrapper {
  display: flex;
  background-color: #e5e7eb;
}

.portfolio__info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 40px;
  background-color: #fafafa;
  margin: 17px 35px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.08);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.08);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.08);
}

.portfolio__header {
  font-size: 18px;
  font-weight: 600;
}

.portfolio__stack {
  margin-top: 5px;
  font-size: 14px;
}

.portfolio__skill {
  font-weight: 600;
}

.portfolio__description {
  font-size: 12px;
  margin-top: 1em;
  padding-left: 1em;
}

.portfolio__list {
  padding: 0.2em 0;
}

.portfolio__links {
  display: flex;
  gap: 1.5em;
  margin-top: 10px;
}

.portfolio__link {
  display: block;
  position: relative;
  font-size: 16px;
  // font-family: $accentFont;
  color: $textColor;
  font-weight: 600;
  transition: 0.1s;
}

.portfolio__link::after {
  content: "";
  position: absolute;
  bottom: -1.3px;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: $textColor;
  opacity: 1;
  transition: opacity 100ms, transform 100ms;
}

.portfolio__link:hover::after {
  opacity: 0;
  transform: translate3d(0, 0.2em, 0);
}

@media screen and (max-width: $tablet) {
  .portfolio__item {
    grid-template-columns: 1fr;
    margin-top: 45px;
  }

  .portfolio__photos {
    min-height: 150px;
  }
}
