/* Breakpoints */
$smallMobile: 300px;
$mobile: 639px;
$tablet: 959px;
$desktop: 1199px;

/* Colors */
// $bgColor: #fff5f5;
// $accentColor: #e9d8ec;
// $textColor: #010101;

$bgColor: #ffffff;
$accentColor: #5d73d6;
$textColor: #2b2a31;

// $bgColor: #000000;
// $accentColor: #5d73d6;
// $textColor: #ffffff;

/* Fonts */
$generalFont: "Montserrat";
$accentFont: "Gogh";
