/* Breakpoints */
$smallMobile: 300px;
$mobile: 639px;
$tablet: 959px;
$desktop: 1199px;

/* Colors */
$bgColor: #fafafa;
$accentColor: #8787b6;
$textColor: #2b2a31;

/* Fonts */
$generalFont: "Montserrat";
$accentFont: "Gogh";
